In [4]:
import ibm_db

# reproducing the video example

### just modified the data

In [7]:
#Replace the placeholder values with your actual Db2 hostname, username, and password:
dsn_hostname = "dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net" #"YourDb2Hostname"  e.g.: "dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net"
dsn_uid = "dfr14952"        #"YourDb2Username"        # e.g. "abc12345"
dsn_pwd = "pqktstfj3jg^dths" #"YoueDb2Password"      # e.g. "7dBZ3wWt9XN6$o0J"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"            # e.g. "BLUDB"
dsn_port = "50000"                # e.g. "50000" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"

In [8]:
#DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
#Create the dsn connection string
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

#print the connection string to check correct values are specified
print(dsn)

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=dfr14952;PWD=pqktstfj3jg^dths;

In [9]:
#DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
#Create database connection

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  BLUDB as user:  dfr14952 on host:  dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net

In [10]:
#Retrieve Metadata for the Database Server
server = ibm_db.server_info(conn)

print ("DBMS_NAME: ", server.DBMS_NAME)
print ("DBMS_VER:  ", server.DBMS_VER)
print ("DB_NAME:   ", server.DB_NAME)

DBMS_NAME:  DB2/LINUXX8664
DBMS_VER:   11.01.0303
DB_NAME:    BLUDB

In [11]:
#Retrieve Metadata for the Database Client / Driver
client = ibm_db.client_info(conn)

print ("DRIVER_NAME:          ", client.DRIVER_NAME) 
print ("DRIVER_VER:           ", client.DRIVER_VER)
print ("DATA_SOURCE_NAME:     ", client.DATA_SOURCE_NAME)
print ("DRIVER_ODBC_VER:      ", client.DRIVER_ODBC_VER)
print ("ODBC_VER:             ", client.ODBC_VER)
print ("ODBC_SQL_CONFORMANCE: ", client.ODBC_SQL_CONFORMANCE)
print ("APPL_CODEPAGE:        ", client.APPL_CODEPAGE)
print ("CONN_CODEPAGE:        ", client.CONN_CODEPAGE)

DRIVER_NAME:           DB2CLI.DLL
DRIVER_VER:            11.01.0303
DATA_SOURCE_NAME:      BLUDB
DRIVER_ODBC_VER:       03.51
ODBC_VER:              03.01.0000
ODBC_SQL_CONFORMANCE:  EXTENDED
APPL_CODEPAGE:         1252
CONN_CODEPAGE:         1208

In [16]:
# save it for the end of the session ibm_db.close(conn)

In [22]:
# example , creating a table

stmt = ibm_db.exec_immediate(conn, "CREATE TABLE NEWTEST1 (NEW_ID VARCHAR(10) NOT NULL, LASTNAME VARCHAR(100), FIRSTNAME VARCHAR(100), CITY VARCHAR(100))")

In [25]:
# example, inserting data

stmt = ibm_db.exec_immediate(conn, "INSERT INTO NEWTEST1 (NEW_ID, LASTNAME, FIRSTNAME, CITY) VALUES ('001', 'NEVES', 'GILMAR', 'SAO PAULO')")

In [27]:
# querying this data

stmt = ibm_db.exec_immediate(conn, "SELECT * FROM NEWTEST1")

ibm_db.fetch_both(stmt)

{'NEW_ID': '001',
 0: '001',
 'LASTNAME': 'NEVES',
 1: 'NEVES',
 'FIRSTNAME': 'GILMAR',
 2: 'GILMAR',
 'CITY': 'SAO PAULO',
 3: 'SAO PAULO'}

## what if we decide to use pandas

In [28]:
import pandas as pd

import ibm_db_dbi

In [29]:
pconn = ibm_db_dbi.Connection(conn)

df = pd.read_sql('SELECT * FROM NEWTEST1', pconn)

df

  NEW_ID LASTNAME FIRSTNAME       CITY
0    001    NEVES    GILMAR  SAO PAULO

TypeError: 'DataFrame' object is not callable